# Configuration for bach-evolve
send_clock true
cc 2,64,50-70 2,67,50-80
channels 0-2
beats_per_bar 8
# Note scale per MIDI channel (wrapping around).
note_scale maj@60:0,min@60:2
note_min maj@60:-3
note_max maj@60:3,min@60:14
skip_allocated false
chord_weight 1.0
melody_weight 1.0
clip_init_len 20
clip_tail 3/1
song_continue true
population_size 12
mutation_probability 0.2
tournament_size 2

harmony_table -0.042 0.1 0.2

# ^^ test empty line
