# Configuration for bach-evolve
channels 2-2
beats_per_bar 8
note_scale maj@60:0
skip_allocated false
clip_init_len 20
clip_tail 3/1
population_size 12
mutation_probability 0.2
tournament_size 4
tournament_winners 2
