# Configuration for bach-evolve
channels 2-2
beats_per_bar 8
# Note scale per MIDI channel (wrapping around).
note_scale maj@60:0,maj@60:2
skip_allocated false
chord_weight 1.0
clip_init_len 20
clip_tail 3/1
population_size 12
mutation_probability 0.2
tournament_size 2
